.container {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
  padding: var(--mantine-spacing-xs);

  @media (min-width: $mantine-breakpoint-sm) {
    flex-direction: row;
    gap: var(--mantine-spacing-lg);
    padding: var(--mantine-spacing-lg);
  }
}

.image {
  @media (min-width: $mantine-breakpoint-sm) {
    width: rem(300);
    height: rem(450);
  }
}

.description {
  padding: var(--mantine-spacing-xs);
}
