.card {
  display: flex;
  margin-bottom: var(--mantine-spacing-sm);

  @media (min-width: $mantine-breakpoint-xs) {
    flex-direction: row;
  }
}

.image {
  @media (min-width: $mantine-breakpoint-xs) {
    width: rem(100px);
  }
}

.textBlock {
  padding: var(--mantine-spacing-xs);
}
